
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section slide{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul>
                    <h3>THẺ LOẠI</h3>
                    <li><a href="#">APPLE</a></li>
                    <li><a href="#">SAM SUNG</a></li>
                    <li><a href="#">OPPO</a></li>
                    <li><a href="#">BLACKBERRY</a></li>
                    <li><a href="#">NOKIA</a></li>
                    <li><a href="#">VSMART &amp; Fitness</a></li>
                    <li><a href="#">XIAOMI</a></li>
                    <li><a href="#">MASSTEL</a></li>
                </ul>
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        <div id="slide-1" class="slide">
                            <div class="slider-img">
                                <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="learn more" /></a>
                            </div>
                            <div class="slider-text">
                                <h1>Chương trình<br><span>Sale</span></h1>
                                <h2>Khuyến Mãi 20% Khi Mua Hàng</h2>
                                <div class="features_list">
                                    <h4>Giảm giá 20% khi mua hàng vào 20/06/2021 tại TGDĐ bất kì</h4>
                                </div>
                                <a href="preview.html" class="button">Mua Ngay</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản Phẩm</h3>
        </div>
        <div class="see">
            <p><a href="#">Tất Cả Sản Phẩm</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
    
    <div class="section group">
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="preview.html"><img src="~/Assets/client/images/Iphone12.jpg" alt="" /></a>
            <h2>Iphone 12Pro Max </h2>
            <div class="price-details">
                <div class="price-number">
                    <p><span class="rupees">24.500.000VNĐ</span></p>
                </div>
                <div class="add-cart">
                    <h4><a href="preview.html">Mua ngay</a></h4>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>